<script type="text/javascript" src="js/customized/nav_work.js"></script>	
<section id="map">
	<div class="container">
		<div id="mapid">
			<script type="text/javascript" src="js/customized/leaflet-map.js"></script>		
		</div>
	</div>
</section>

<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="intro animate-box fadeInUp animated text-center">
					<h1>Alphabetical List Of 50 States</h1>				
				</div>
			</div>
		</div>
		<div class="row" style="margin-left:50px">
			<div class="col-xs-3">
				{{#each states_col1}}
					<p><a href="/state/{{name}}" target="_blank">{{name}}</a></p>
				{{/each}}
			</div>
			<div class="col-xs-3">
				{{#each states_col2}}
					<p><a href="/state/{{name}}" target="_blank">{{name}}</a></p>
				{{/each}}
			</div>
			<div class="col-xs-3">
				{{#each states_col3}}
					<p><a href="/state/{{name}}" target="_blank">{{name}}</a></p>
				{{/each}}
			</div>
			<div class="col-xs-3">
				{{#each states_col4}}
					<p><a href="/state/{{name}}" target="_blank">{{name}}</a></p>
				{{/each}}	
			</div>
		</div>
	<div>
</section>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-md-4 animate-box">
				<div class="service">
					<div class="service-icon">
						<i class="icon-command"></i>
					</div>
					<h2>Brand Identity</h2>	
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="service">
					<div class="service-icon">
						<i class="icon-drop2"></i>
					</div>
					<h2>Web Design &amp; UI</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="service">
					<div class="service-icon">
						<i class="icon-anchor"></i>
					</div>
					<h2>Development &amp; CMS</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
				</div>
			</div>
		</div>
	</div>
</section>